.login{
    height: 100vh;
    background-image: linear-gradient(to right, rgb(132, 220, 255) , rgb(218, 245, 255));
    display: flex;
    align-items: center;
    justify-content: center;

    .card{
        display: flex;
        background-color: white;
        border-radius: 10px;
        min-height: 600px;
        overflow: hidden;
        width: 50%;

        .left{
            flex: 1;
            background-color: rgb(95, 210, 255);
            // background: linear-gradient(rgba(39, 11, 96, 0.5),rgba(39, 11, 96, 0.5)), url("../../../public/assets/bg-login.jpg") center;
            // background-size: cover;
            padding: 50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            color: white;
            
            h1{
                font-size: 80px;
                line-height: 100px;
            }

            p{}

            span{
                font-size: 14px;
            }

            button{
                width: 40%;
                padding: 10px;
                border: none;
                background-color: white;
                color: rgb(15, 187, 255);
                font-weight: bold;
                cursor: pointer;
                border-radius: 5px;
            }
        }

        .right{
            flex: 1;
            display: flex;
            padding: 70px;
            flex-direction: column;
            gap: 50px;
            justify-content: center;

            h1{
                color: #555;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 30px;

                input{
                    border: none;
                    border-bottom: 1px solid lightgray;
                    padding: 20px 10px;
                }
                button{
                    width: 40%;
                    padding: 10px;
                    border: none;
                    background-color: rgb(44, 195, 255);
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;
                }
            }
        }
    }
}