@import "../../style.scss";


.rightbar{
    @include themify($themes){
    flex: 3;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bgSoft");

    @include mobile{
        display: none;
    }
    
    &::-webkit-scrollbar{
        display: none;
    }

    scrollbar-width: none;

    .container{
        padding: 20px;
        .item{
            -webkit-box-shadow: -19px 21px 19px -16px rgba(0,0,0,0.15);
            -moz-box-shadow: -19px 21px 19px -16px rgba(0,0,0,0.15);
            box-shadow: -19px 21px 19px -16px rgba(0,0,0,0.15);
            padding: 20px;
            margin-bottom: 20px;
            background-color: themed("bg");

            span{
                color: gray;
            }

            .user{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 20px 0px;
                 
                .userInfo{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    position: relative;

                    img{
                        width: 40px;
                        height: 40px;
                        border-radius: 50%;
                        object-fit: cover;

                    }

                    .online{
                        width: 12px;
                        height: 12px;
                        border-radius: 50%;
                        background-color: limegreen;
                        position: absolute;
                        top: 0;
                        left: 30px;
                    }

                    p{
                        color: themed("textColor");
                        font-size: 14px;
                    }

                    span{
                        font-weight: 500;
                        color: themed("textColor");
                    }
                }
                
                .buttons{
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    button{
                        border: none;
                        padding: 5px 10px;
                        border-radius: 5px;
                        color: white;
                        cursor: pointer;

                        &:first-child{
                            background-color: rgb(9, 185, 255);
                        }

                        &:last-child{
                            background-color: rgb(255, 91, 91);
                        }
                    }
                }
            }
        }
    }
}
}